
extends layout

block content

	include account
	include modals/alert
	include modals/confirm

block scripts
	script(src='/js/views/account.js')
	script(src='/js/controllers/accountController.js')
	script(src='/js/form-validators/accountValidator.js')